.cssselect{
	display:inline-block;
	width:200px;
	padding:5px;
	border:1px solid #cc8b6b;
	background-color: #ededed;
}
	.cssselect .arrow{
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-width: 5px;
		border-style: solid;
		display:block;
		float:right;
		position:relative;
		top:6px;
		right:3px;
		width:1px;
		height:1px;
		border-top-color: #aeaeae;
	}
	.cssselectoptions{
		display:none;
		border:1px solid #cc8b6b;
		background-color:#f2f2f2;
	}
		.cssselectoptions .option{
			width:200px;
			padding:5px;
			background-color: #f2f2f2;
		}
		.cssselectoptions .filter input{
			width:184px;
			border:1px solid #cc8b6b;
			padding:6px;
			margin:6px;
		}
			.cssselectoptions .option:hover{
				background-color:#cc8b6b;
				color:#FFF;
			}